<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219711213585-a9fgn2a0uollu5p76sa1lmnkvves5b1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219711213585-a9fgn2a0uollu5p76sa1lmnkvves5b1c</string>
	<key>API_KEY</key>
	<string>AIzaSyBzkvIbqIV_ZGLu09bL_AElXGaRBkRZOks</string>
	<key>GCM_SENDER_ID</key>
	<string>219711213585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palmmobile</string>
	<key>PROJECT_ID</key>
	<string>oedi-a1953</string>
	<key>STORAGE_BUCKET</key>
	<string>oedi-a1953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219711213585:ios:5ef6e54c95d608269121b0</string>
</dict>
</plist>